<!DOCTYPE html>
%html(lang="en")
  %head
    %title Hollywood Admin
    = stylesheet_link_tag("admin/application", media: "all")
    = javascript_include_tag("admin/application")
    = csrf_meta_tags
  %body
    .container
      .row.banner
        %h1 Hollywood! Administration
      .row
        %ul.nav.nav-tabs
          = nav_tab_li("Dashboard", {controller: :dashboard})
          = nav_tab_li("Movies", movies_path)
          = nav_tab_li("Actors", {})
          = nav_tab_li("Castings", {})
      .row
        = yield

