= bootstrap_form_for(movie) do |form|
  %div.row
    %div.col-md-1
      = form.text_field :id, label: 'ID', disabled: true
    %div.col-md-11
      = form.text_field :title
  %div.row
    %div.col-md-4
      = form.text_field :production_start, class: 'datepicker'
    %div.col-md-4
      = form.text_field :production_finish, class: 'datepicker'
    %div.col-md-4
      = form.text_field :premiere, label: 'Premiere Date', class: 'datepicker'
  %div.row
    %div.col-md-12
      = form.text_area :description, rows: 6
  %div.row
    %div.col-md-2
      = link_to "Cancel", movies_path, class: 'btn btn-primary'
    %div.col-md-8
      &#160;
    %div.col-md-2
      = form.submit class: 'btn btn-primary', style: 'float: right'
