= bootstrap_form_for(movie) do |form|
  %div.row
    %div.col-md-1
      = form.text_field :id, label: 'ID', disabled: true
    %div.col-md-11
      = form.text_field :title
  %div.row
    %div.col-md-4
      = form.text_field :production_start, class: 'datepicker'
    %div.col-md-4
      = form.text_field :production_finish, class: 'datepicker'
    %div.col-md-4
      = form.text_field :premiere, label: 'Premiere Date', class: 'datepicker'
  %div.row
    %div.col-md-12
      = form.text_area :description, rows: 6
  = render 'shared/form_controls', form: form, cancel_path: movies_path
