= header_with_add_button("Movies", "Add Movie", new_movie_path)

%table.table.table-striped
  %thead
    %tr
      %td ID
      %td Title
      %td Production Start
      %td Production Finish
      %td Premier
      %td Actions
  - @movies.each do |movie|
    %tr
      %td
        = movie.id
      %td
        = link_to(movie.title, movie)
      %td
        = formatted movie.production_start
      %td
        = formatted movie.production_finish
      %td
        = formatted movie.premiere
      %td
        = render 'shared/list_element_actions', path: movie_path(movie), edit_path: edit_movie_path(movie)
